# Python
*.pyc
*~
__pycache__

# Env
.env
myenv/
venv/

# Database
db.sqlite3

# Static folder at project root
/static/

# My Own Environment Start Files
run_django_myenv.sh
venv_myenv.sh
superuser ichbin creds.sb
API Token PythonAnywhere sample code.sb

# macOS
._*
.DS_Store
.fseventsd
.Spotlight-V100

# Windows
Thumbs.db*
ehthumbs*.db
[Dd]esktop.ini
$RECYCLE.BIN/

# Visual Studio
.vscode/
.history/
*.code-workspace
